.page {
    min-width: 1100px;
    /* мы ещё не умеем делать мобильную версию сайта, */
    /* поэтому выше установлена минимальная ширина страницы */
    max-width: 1600px;
    /* выше установили ограничение по максимальной ширине */
    margin: 0 auto;
    /* выше для экранов больше 1600px отцентрировали весь контент */
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
    display: flex;
    position: relative;
    height: 100vh;
    min-height: 600px;
    max-height: 756px;
    background-color: #F2F2F2;
    /* выше установили ограничения для секции */
}

.logo {
    height: 32px;
    width: 183px;    
    z-index: 2;
    top: 30px;
    left: 64px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.logo_place_header {
    position: absolute;
}

.header__title {
    width: 730px;
    display: flex;
    margin-left: 64px;
    align-items: center;
    font-size: 102px;
    line-height: 96px;
    z-index: 2;
}


/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */

.header__square-pic {
    height: 568px;
    width: 568px;
    background-color: #2F80ED;
    position: absolute;
    top: 64px;
    right: 0;
}

.header__subtitle {
    position: absolute;
    z-index: 2;
    bottom: 30px;
    left: 64px;
    width: 388px;
    font-size: 18px;
    line-height: 25px;
}

.header__link {
    text-decoration: none;
    color: #2F80ED;
}

.header__main-illustration {
    width: 765px;
    height: 608px;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
}

.description {
    display: flex;
    justify-content: center;
}

.two-columns {
    display: flex;
    margin-top: 100px;
    margin-bottom: 100px;
    justify-content: space-between;
    width: 80%;
}

.two-columns__brief {
    margin: 0;
    position: relative;
    top: 0;
    left: 0;
    width: 175px;
    font-size: 18px;
    line-height: 1.2;
    color: #2F80ED;
    font-weight: normal;
}

.two-columns__main-text {
    display: flex;
    flex-direction: column;
    width: 80%;
    min-width: 784px;
    font-size: 24px;
    line-height: 34px;
}

.two-columns__span-accent {
    font-size: 24px;
    line-height: 34px;
    font-weight: bold;
}

.two-columns__paragraph:nth-child(2n) {
    margin-bottom: 30px;
    margin-top: 30px;
}

.two-columns__main-text p {
    margin: 0;
}

.table {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 1100px;
    margin: 0 auto 100px;
    position: relative;
}

.table__cell {
    width: 250px;
    margin-right: 0;
    margin-top: 60px;
}

.digits {
    position: relative;
}

.section-title {
    text-align: center;
    margin: 0 auto 20px;
    width: 60%;
    line-height: 69px;
    font-size: 60px;
    font-weight: bold;
}

.section-subtitle {
    text-align: center;
    line-height: 34px;
    font-size: 24px;
    margin: 0 auto;
    width: 60%;
    font-weight: normal;
}

.table__text {
    line-height: 1.2;
    font-size: 18px;
    font-weight: normal;
}

.table__text_bank {
    margin-top: 20px;
}

.table__heading {
    line-height: 1.15;
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: bold;
}

.feinman {
    height: 790px;
    background-color: #F2F2F2;
    background-image: url(../images/feinman.png);
    background-size: 867px 637px;
    background-position: left bottom;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    position: relative;
}

.feinman__title {
    text-align: center;
    width: 648px;
    z-index: 1;
    line-height: 1.15;
    font-size: 120px;
    font-weight: bold;
    margin: 100px auto 0;
}

.feinman__subtitle {
    margin: 70px auto;
    z-index: 1;
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
}

.feinman__link {
    position: absolute;
    right: 48px;
    top: 50%;
    line-height: 51px;
    font-size: 36px;
    color: black;
    text-decoration: none;
    z-index: 1;
}


/* и элемента с модификатором вида ключ-значение */

.table__cell_theme_dark {
    width: 200px;       
    margin-top: 80px;
}

.kaufman {
    display: flex;
    flex-direction: column;    
    overflow: hidden;
    position: relative;
    background-color: #1F1F1F;
}

.table_theme_dark {
    color: white;      
    margin: 0 auto 90px;
    z-index: 1;
}

.section-title_theme_dark {    
    margin: 90px auto 20px;
    color: white;
    z-index: 1;   
    
}

.section-subtitle_theme_dark {  
    margin: 0 auto 0;
    color: white;
    z-index: 1;    
    
}

.table__text_theme_dark {
    line-height: 1.2;
    font-size: 18px;
    font-weight: normal;
}

.table__heading_theme_dark {
    line-height: 1.15;
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: bold;
}

.kaufman__triangle {
    position: absolute;
    width: 877px;
    height: 877px;
    right: -210px;
    top: 0;
}

.footer {
    display: flex;
    position: relative;
    min-height: 350px;
    background-color: #1F1F1F;
}

.footer__columns {
    position: relative;
    display: flex;
    margin: 60px auto 40px;
    width: 90%;
    justify-content: space-between;
}

.footer__column_content_copyright {
    justify-content: space-between;
    flex-direction: column;
    display: flex;
    flex-basis: 711px;
}

.footer__column_content_info {
    flex-direction: column;
}

.footer__column_content_social {
    flex-direction: column;
}

.logo_place_footer {
    position: relative;
    top: auto;
    left: auto;
    width: 183px;
    height: 35px;
}

.footer__author {
    line-height: 25px;
    font-size: 18px;
    font-weight: normal;
    color: white;
    margin-bottom: 18px;
    margin-top: 18px;
}

.footer__column-heading {
    display: flex;
    margin-top: 0;
    line-height: 30px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    margin-bottom: 0;
}
.footer__column-links {
    margin-bottom: 16px;
    margin-top: 20px;
}
.footer__column-link {
    color: white;
    line-height: 30px;
    font-size: 18px;
    font-weight: normal;
    text-decoration: none;   
}

.footer__social-icon {
    height: 16px;
    width: 16px;
}

li {
    list-style-type: none;
}

ul {
    padding-left: 0;
}
a:hover {
    color: aqua;
}
